.leaderboard {
  display: flex;
  justify-content: space-around;
  max-width: 350px;
  margin-left: auto;
  margin-right: auto;
}

.leaderboard img {
  width: 70px;
  height: 70px;
}

.leaderboardimage {
max-width: 300px;
margin-left: auto;
margin-right: auto;
}


.leaderboard p {
font-size: x-small;
color: $unlocked_dark;
}

.leaderboard_score {
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 40px;
  margin-bottom: -34px;
  color: $white;
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#leader p {
  font-size: small;
  margin-bottom: 0;
}

#leaderboard {
  padding: 15px 15px 0px;
}

#leader .card {
  border: 0;
  background: none;
}

#leader img {
  width: 50px;
  height: 50px;
}

.leader_part2 {
  background-color: $unlocked-light;
}

.leader_part2 .container{
  background-color: $white;
  width: 90%;
  border-radius: 25px 25px 0px 0px;
}

.leader_page {
  background-color: $unlocked-light;
}

.line {
  margin-left: auto;
  margin-right: auto;
}

.unlockedtop-two {
  display: none;
  font-size: small;
  text-align: center;
}

.unlockedtop-two img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid $white;
}



// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .desktop-container{
    width: 100%;
  }
  .desktop-notice {
    display: none;
  }
  .leaderboardimage {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    }
  .leaderboard_score {
    max-width: 600px;
    align-items: flex-end;
  }
  .unlockedtop-two {
    display: block;
    min-width: 125px;
  }
  .unlockedtopscore h4{
    display: none;
  }
  .leaderboard_score {
    bottom: 165px;
    margin-bottom: -165px;
  }
  #middle-image {
    width: 125px;
    height: 125px;
    bottom: 150px
  }

  #left-image {
    width: 90px;
    height: 90px;
  }
  .leaderboard {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

 }
