.address_box {
  display: flex;
  margin-bottom: 20px;
}

.address_box p {
text-align: left;
}

.address_box i {
  color: $unlocked-blue;
}

.long_n_lat {
  background-color: $unlocked-gray-light;
  padding: 5px 10px;
  border-radius: 10px;
}

.address_text {
  padding: 15px;
  text-align: left;
  border-radius: 15px;
  margin-top: auto;
  margin-bottom: auto;
}

.address_map {
  border: 5px;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.accordion-item:last-of-type .accordion-button.collapsed {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: $unlocked-gray-light;
}

.accordion-flush .accordion-item .accordion-button {
  border-top-left-radius: 24px;
  border-top-right-radius: 24px;
  background-color: $unlocked-gray-light;
}

#flush-headingOne > button > p {
  color: $unlocked_dark;
}

#new_review {
  background-color: $unlocked-gray-light;
  padding: 15px 15px 15px 15px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
}
