.card {
  flex-direction: row;
}

.card img {
  object-fit: cover;
  border-radius: 100%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 20px;
}

#lvl_title {
  color: $unlocked_blue;
  margin-bottom: 0;
}

#lvl_title i {
  color: $unlocked_orange;
}

.lvl {
  text-align: right;
}

.lvl p {
  margin-bottom: 8px;
}

#lvl_bottom p {
  margin-bottom: 0px;
  font-size: small;
  color: $unlocked-gray-light;
}
