.card {
  flex-direction: row;
}

#leader .card img {
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 20px;
}

#notification .section img {
  object-fit: cover;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 20px;
}

#lvl_title {
  color: $unlocked_blue;
  margin-bottom: 0;
}

#lvl_title i {
  color: $unlocked_orange;
}

.lvl {
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}

.lvl p {
  margin-bottom: 8px;
}

#lvl_bottom p {
  margin-bottom: 0px;
  font-size: small;
  color: $unlocked-gray-light;
}

#calendar {
  color: $white;
  opacity: 80%;
  font-size: xx-large;
  line-height: 0;
  top: 80px;
}

#calendar-text {
  color: $unlocked-blue;
  opacity: 80%;
  font-size: xx-small;
  line-height: 0;
  top: 80px;
}


.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.cards-home .card {
  flex-direction: column;
  font-size: x-small;
  text-align: center;
}

.cards-home .card p {
  color: $unlocked-dark;
  font-size: xx-small;
  text-align: center;
  margin: 0;
  line-height: 9px;

}
.cards-home .card h6 {
  font-size: small;
  text-decoration: none;
}

.profile-locks {
  width: 100%;
  object-fit: cover;
  border-radius: 2%;
}

.cards-home .day-month {
  left: 83px;
  top: 93px;
  padding-left: 3px;
  padding-right: 3px;
  width: 30px;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards-home {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .cards-home {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .lvl {
    width: 987px;
  }
  .bar {
    width: 987px;
    margin-left: auto;
    margin-right: auto;
  }
 }
