<div class="px-3 border-top navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
</div>
