<div class="px-3 border-top navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to root_path do %>
     <i class="fas fa-search"></i>
    <% end %>
    <%= link_to root_path do %>
      <i class="fas fa-home"></i>
    <% end %>
        <%= link_to root_path do %>
     <i class="fas fa-trophy"></i>
    <% end %>
    <% if user_signed_in? %>
    <%= link_to image_tag(current_user.photo, class: "avatar") , profile_path(current_user.username) %>
    <% else %>
    <a href="<%new_user_session_path%>"><i class="fas fa-user"></i></a>
    <% end %>
  </div>
</div>
