<div class="px-3 border-top navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <a href="#"><i class="fas fa-search"></i></a>
    <a href="#"><i class="fas fa-home"></i></a>
    <a href="#"><i class="fas fa-trophy"></i></a>
    <a href="#"><i class="fas fa-user"></i></a>
  </div>
</div>
