
.lock_review .cards {
  padding-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 16px;
  margin-bottom: 16px;
  align-content: center;
}

.lock_review .card {
  display: grid;
  padding: 10px;
}

#request-card {
  background-color: #b0dfe0;
}

#request-card-image {
  width: 200px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
  margin-top: 0px;
}

.card-info {
  margin-left: auto;
  margin-right: auto;
}

.card-buttons {
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.card-button {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  flex-direction: column;
}

.cards-home .card {
  flex-direction: column;
  font-size: x-small;
}

.cards-home .card p {
  font-size: x-small;
}
.cards-home .card h6 {
  font-size: small;
  text-decoration: none;
}

.profile-locks {
  width: 116px;
  height: 116px;
  object-fit: cover;
  border-radius: 2%;
}
