.next-icon {
  color: $unlocked_gray;
  font-size: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.whats-next {
  background-color: $unlocked_gray;
  border-radius: 50%;
    width: 55px;
    height: 50px;
    padding: 8px;
}

.whats-next p {
  color: $white;
  left: 10px;
  top: 22px;
  font-size: 22px;
  line-height: auto;
  margin-bottom: 0;
}

#circle1 {
  min-width: 23px;
  min-height: 25px;
}
