.notifications p {
  font-size: small;
}

.notifications .card {
  border: 0;
  background: none;
}

.notifications img {
  width: 70px;
  height: 70px;
}

.notifications #time {
  color: $unlocked-blue;
}

.notifications #new_lock {
  color: $white;
  font-size: large;
  text-align: center;
  background-color: $unlocked-blue;
  line-height: 0;
  left: 63px;
  top: 60px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
}

.notifications #new_lock i {
  position: absolute;
  top: 5px;
  left: 6px;
}
