.profile_banner {
  background-color: $unlocked-light;
  color: $white;
  text-align: center;
  padding: 10px;
}

.mini_banner {
  background-color: $unlocked-dark;
  color: $white;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 20px;
}

.mini_mini {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.mini_banner svg {
  width: 50px;
  height: 50px;
}

.profile_banner img {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  object-fit: cover;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
  border: 5px solid $white;
}

.profile_banner h1 {
  color: $unlocked_dark;
}
