// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";
@import 'mapbox-gl';

// Your CSS partials
@import "components/index";
@import "pages/index";

html, body { height: calc(100% - 10%);}

.center {
  text-align: center;
}

.mapboxgl-map {
  position: relative;
  z-index: 1;
}


.desktop-notice {
  display: none;
  color: $white;
  background-color: $unlocked-blue;
  padding: 10px;
}

.desktop-notice i {
  color: $unlocked-light;
}

#map {
  width: 100%;
  height: 100%;
}

.desktop-nav {
  display: none;
  font-size: 24px;
  padding-right: 10px;
  padding-left: 10px;
  width: 300px;
  justify-content: space-between;
}

.mobile-nav {
  display: flex;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .desktop-container{
    width: 100%;
  }
  .desktop-notice {
    display: none;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .desktop-container{
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    border-radius: 25px 25px 0px 0px;
    height: 100%;
  }
  .profile_banner {
    border-radius: 25px 25px 0px 0px;
  }
  .desktop-notice {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .desktop-nav {
    display: flex;
  }

  #nav-container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  #map {
    margin-top: 20px;
    border-radius: 25px 25px 0px 0px;
    height: 100%;
    width: 992px;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-color: $unlocked-light;
  }
  .mobile-nav {
    display: none;
  }
  .footer {
    display: none;
  }
  html, body { height: 100%;}
 }
